.users{
    /* background-color: black; */
    background-image: url('bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    /* height: 100vh; */
}
.all_users{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns:repeat(4,1fr);
    gap: 2rem;
    padding: 1rem;
    margin: auto;
}
.profile_card{
    border: 1px solid rgba(63, 63, 63, 0.253);
    /* background-color: rgba(236, 228, 228, 0.074); */
    color: black;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    height: 150px;
    width: 15rem;
    background: rgba(236, 228, 228, 0.074);
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}
.profile_card:hover{
    box-shadow: 0px 0px 10px gray;
    border: 1px solid rgba(255, 255, 255, 0.452);
    /* border-bottom:0.1rem solid silver;
    border-right:0.1rem solid silver; */
}
.profile_card .name{
    font-size: xx-large;
}
.icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.icon{
    margin: 0px 5px;
    transition: 0.7s;
}
.icon:hover{
    transform: scale(1.3);
}
.img{
    border-radius: 50%;
    margin-top: -20px;
}